<!DOCTYPE html>
<html lang="jp">
<body>
  <script>
    
    $("#test").css( "color", "red" );
    
  </script>
<div id="test" style="color:red;">aaaaaaaaaaa</div>
<div id="advGame">
	<canvas width="640" height="480"></canvas>
	<div id="msgBox"></div>
</div>

</body>
</html>
